.datepicker{
    width:400px;
    box-shadow: 4px 4px 8px 4px rgba(128,128,128,.3)
}
.datepicker-contain{
    position:absolute;
    display:none;
    width:420px;
    background-color:white;
}
.datepicker-contain-show{
    display: block;
}
.datepicker-header{
    width:360px;
    height:50px;
    padding:0 20px;
    background-color:#f0f0f0;
    text-align: center;
    font-size:16px;
    line-height:50px;
}
.datepicker-header .datepicker-btn{
    text-decoration: none;
    color:#1abc9c;
    font-family: serif;
    height:50px;
    line-height:50px;
    width:20px;
    font-size:20px;
    cursor: pointer;
}
.datepicker-header .datepicker-left-btn{
    float:left;
}
.datepicker-header .datepicker-right-btn{
    float: right;
}
.datepicker-body .datepicker-table{
    width:100%;
    border-collapse: collapse;
}
.datepicker-body .datepicker-table th,td{
    text-align: center;
    font-size:16px;
    height:20px;
    line-height:20px;
}
.datepicker-body .datepicker-table td{
    border:1px solid #1abc9c;
    cursor: pointer;
}
.datepicker-body .datepicker-table td:hover{
    background-color: #1abc9c;
}
.datepicker-input {
    height:20px;
    width:300px;
    margin-left:100px;
    margin-top:100px;
    border-radius: 4px;
}
.datepicker-input:focus{
    border:1px solid skyblue;
}